<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="INFO"/>

    <!-- 开发环境+测试环境. 多个使用逗号隔开 -->
    <springProfile name="dev,test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.lee.demo.springboot" level="DEBUG" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prd">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="com.lee.demo.springboot" level="INFO" />
    </springProfile>

</configuration>